# The following lines are desirable for IPv4 capable hosts
127.0.0.1 ovirt-engine-engine.example.com ovirt-engine 
127.0.0.1 localhost.localdomain localhost
127.0.0.1 localhost4.localdomain4 localhost4

# The following lines are desirable for IPv6 capable hosts
::1 ovirt-engine-engine.example.com ovirt-engine
::1 localhost.localdomain localhost
::1 localhost6.localdomain6 localhost6

{{ engine-ip }} ovirt-engine.example.com    ovirt-engine
192.168.122.9   ovirt-host1.example.com     ovirt-host1
192.168.122.10  ovirt-host2.example.com    ovirt-host2

