127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ engine_ip }} ovirt-engine.example.com ovirt-engine
{{ host1_ip }} ovirt-host1.example.com ovirt-host1
{{ host2_ip }} ovirt-host2.example.com ovirt-host2

